{% extends "base.html" %} {% block title %}Welcome{% endblock %}
{% load static %}

{% block content %}

{% if logged %}
<section>
    <div class="container">
        <div class="container-fluid">
            <div class="background">
                <div class="allContainer">
                    <h1 class="bodyText">Welcome to Chess Coach, {{username}}</h1>
            
                </div>
                <p class="bodyText">Please, declare the game code which you wish to spectate bellow</p>

        <div class="bodyContainer">
            <form action="/game" method="post">
                <input type="text" name="game-code" placeholder="Game Code"></input>
                <input type="text" name="move-number" placeholder="Move Number"></input>
                <button type="submit" class="submitButton">Submit</button>
            </form>
        </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section>
    <div class="container">
        <div class="container-fluid">
            <div class="background">
                <div class="allContainer">
                    <h1 class="bodyText">Welcome to Chess Coach</h1>
                    <h3 class="bodyText">Coach your friends or students and discuss tactics all for free!</h3>
                </div>
                <form class="buttonContainer" method="get" action="accounts/register/">
                    <button class="btn btn btn-secondary btn-lg" type="submit" name="register" value="true">Get started!</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}
 {% include "components/disclaimer.html" %} 
{% endblock %}