{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<p class="disclaimer">This board is intended to be used for learning or interactive discussion, this board must not be
    used for competition porpouses
    on live
    games, or it could be considered as cheating.
    <br>The irresponsible use of this tool, is not associated
    to me or
    any other person, but to the ones giving it a unethical use.
    <br>This tool is meant to be only for
    ethical use
    in non-competitive games for instructing porpouses only.
</p>