* {
  font-family: "Cal Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/static/images/background1.png") no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.disclaimer{
  height:90px;
  line-height:30px;
  background:black;
  color:white;
  text-align:center;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

.allContainer {
  position: fixed;
  top: 15%; /* centra verticalmente */
  left: 1%; /* lo aleja un poco del borde izquierdo */
  transform: translateY(-50%); /* mueve hacia arriba la mitad de su altura */
  z-index: 1;
  padding: 2rem;
  max-width: 98%;
  width: 100%;
  text-align: center;
}

.bodyText {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.buttonContainer{
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%); /* mueve el botón arriba y a la izquierda para centrar */
  z-index: 1;
}

.buttonContainer a{
  all: unset;
}