<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHESS TEST</title>
</head>
<body>
    <h1>Current Play</h1>
    </br>
    <img src="{{ url_for('static', filename='images/ss.png') }}" alt="Foto">
    <form action="/refresh" method="post">
        <button type="submit" name="action" value="refresh">Refresh</button>
    </form>
    <form action="/previous" method="post">
        <button type="submit" name="action" value="previous">Previous Move</button>
    </form>
    <form action="/next" method="post">
        <button type="submit" name="action" value="next">Next Move</button>
    </form>
</body>
</html>