<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Coach App</title>
</head>
<body>
    <h1>Welcome to Chess Coach</h1>
    <p>Please, declare the game code which you wish to spectate bellow</p>
    <form action="/game" method="post">
        <input type="text" name="game-code" placeholder="Game Code"></input>
        <input type="text" name="move-number" placeholder="Move Number"></input>
        <button type="submit">Submit</button>
    </form>
</body>
</html